// nextflow.config

// Set the default container for all processes
process.container = 'nextflow/nextflow'

// Enable Docker support
docker.enabled = true

// Specify additional Docker images for specific processes
indexGenome.container = 'indexgenome:latest'
FASTQC.container = 'staphb/fastqc'
alignReads.container = 'staphb/bwa'
downsampleBam.container = 'gfanz/picard-tools'
sortBam.container = 'staphb/samtools'
markDuplicates.container = 'gfanz/picard-tools'
indexBam.container = 'staphb/samtools'
haplotypeCaller.container = 'pegi3s/gatk-4'
filterVCF.container = 'pegi3s/gatk-4'