// Default parameters

profiles{
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

// DNANexus has one selection for the output files so re-route results to the output dir
params {
    reads = "$projectDir/data/samples/SRR1518253_{1,2}.fastq"
    samplesheet = "$projectDir/samplesheet.tsv"
    genome_file = "$projectDir/data/genome/Homo_sapiens_assembly38.fasta"
    genome_index_files = "$projectDir/data/genome/*.fasta.*"
    indexDir = "$projectDir/data/genome"
    outdir = "$projectDir/files"
    fractions = [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]
}

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']
